{
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "linebreak-style": "off",
    "comma-dangle": "off",
    "no-console": "off",
    "react/jsx-filename-extension": "off"
  }
}